html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.event-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0px;
    background: #fff;
}

    .event-tumb img {
        max-width: 100%;
        max-height: 100%;
    }